select {
    font-family: 'FontAwesome', 'sans-serif';
  }

  .ex1 {
    height: 40px;
    width: 200px;
    overflow-y: scroll;
  }

  .mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
  }
  

  .list-item {
    cursor: pointer;
  }
  
  .list-item:hover {
    background: #eee;
  }
  
  .list-item .hidden{
    display: none;
  }

  .card-flights {
    //background-color: rgb(0, 0, 0,0.7);
    border-radius: 8px;   
    padding: 50px;
    color: white;
 
  }

  .register-form .form-control {
    border: 1px solid #000000 !important;
}

 
    .card-flights:hover
   {
        box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
        transform: none;
        -webkit-transform: none;
        -ms-transform: none;
        -moz-transform: none;
    }

    .page-color{

        background-color:black;

    }
  