<div class="wrapper ">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content page-color" >
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/profile_avatar.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">{{fullName}}<br /></h4>
                    <h6 class="description">Admin User</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>As an admin you can add new flights,approve or decline user's requested tickets </p>
                    <br />
                    
                </div>
            </div>
            <br/>

        </div>
    </div>



    <div class="nav-tabs-navigation" >
        <div class="nav-tabs-wrapper">
            <ngb-tabset [justify]="'center'">
                <ngb-tab title="Add flight">
                    <ng-template ngbTabContent >
                        <div class="row following card card-flights"  id="follows">
                            <div class="col-6 ml-auto mr-auto">
                                
                                <form #addFlightForm="ngForm" (submit)="addFlight(addFlightForm)" class="register-form">
                                    <div class="row">
                                     
                                      <div class="col-sm-5">
                                          <div class="form-group ">
                                              <select name = "departure_airport" class="form-control form-control-success" [(ngModel)]="arrival" required ngModel>
                                                  <option >Departure &#xf072;</option>
                                                  <option value="OR Tambo Int.Airport">OR Tambo Int.Airport </option>
                                                  <option value="Lenseria Int.Airport">Lenseria Int.Airport</option>
                                                  <option value="Cape Town Int.Airport">Cape Town Int.Airport</option>
                                                  <option value="East London Int.Airport">East London Int.Airport</option>
                                                  <option value="King Shaka Int.Airport">King Shaka Int.Airport</option>
                                                  <option value="Port Elizabeth Int.Airport">Port Elizabeth Int.Airport</option>
                                              </select>
                                              
                                          </div>
                                      </div>
                              
                                      <div class="col-sm-5">
                                          <div class="form-group ">
                                              <select name = "arrival_airport"class="form-control form-control-success " [(ngModel)]="departure">
                                                  <option >Arrival &#xf072;</option>
                                                  <option value="OR Tambo Int.Airport">OR Tambo Int.Airport </option>
                                                  <option value="Lenseria Int.Airport">Lenseria Int.Airport</option>
                                                  <option value="Cape Town Int.Airport">Cape Town Int.Airport</option>
                                                  <option value="East London Int.Airport">East London Int.Airport</option>
                                                  <option value="King Shaka Int.Airport">King Shaka Int.Airport</option>
                                                  <option value="Port Elizabeth Int.Airport">Port Elizabeth Int.Airport</option>
                                              </select>
                                              
                                          </div>
                                      </div>
                                      
                                  </div>
                              
                                  <div class =  "row">
                                      <div class="row">
                                          <div class='col-sm-5'>
                                              <div class="form-inline">
                                                  <div class="form-group">
                                                      <div class="input-group date" [ngClass]="{'input-group-focus':focus===true}">
                                                          <input  class="form-control" placeholder="yyyy-mm-dd"
                                                               name="departure_date" [(ngModel)]="Departure" ngbDatepicker #d2="ngbDatepicker" (click)="d2.toggle()" (focus)="focus=true" (blur)="focus=false" required ngModel/>
                                                          <div class="input-group-append">
                                                              <span class="glyphicon glyphicon-calendar input-group-text">
                                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                                              </span>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>

                                              
                                          </div>
                                      </div>
                              
                                      <div class="col-md-6">
                                                  
                                          <div class="row">
                                              <div class='col-sm-5'>
                                                  <div class="form-inline">
                                                      <div class="form-group">
                                                          <div class="input-group date" [ngClass]="{'input-group-focus':focus===true}">
                                                              <input class="form-control" placeholder="yyyy-mm-dd"
                                                              name="arrival_date" [(ngModel)]="Arrival" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" (focus)="focus=true" (blur)="focus=false" required ngModel/>
                                                              <div class="input-group-append">
                                                                  <span class="glyphicon glyphicon-calendar input-group-text">
                                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                                  </span>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>

                                                  
                                              </div>
                                          </div>

                                          
                                      </div>
                              
                                      <br/>
                                  </div>


                                  
                                  

                                  <div class="row">
                                    <div class="col-5">
                                        <div class=" form-group ">
                                            <label >Select a time:</label>
                                  <input type="time" name="departure_time" required ngModel>

                                 
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class=" form-group ">
                                  <input type="time" name="arrival_time" required ngModel>

                                        </div>
                                    </div>
                                  </div>

                              
                                     <div class="row">
                                      <div class="col-sm-5">
                                          <div class=" form-group ">
                                              <select name = "isHotelIncluded" class="form-control form-control-success " style="margin: 10px" required ngModel>
                                                  <option>Include hotel package</option>
                                                  <option value = "Yes">Yes</option>
                                                  <option Valeu = "No">No</option>
                                              </select>
                                              
                                          </div>
                                      </div>
                                    </div>
                                      
                              
                                  <div class="row">
                                      <div class="col-sm-7">
                                          <button class="btn btn-danger btn-block btn-round" [disabled]="!addFlightForm.valid">Submit</button>
                                          
                                      </div>
                                  </div>
                              </form>
    
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Ticket Pending Approval">
                    <ng-template ngbTabContent>
                        <div class="card card-flights ex1" style="color: blanchedalmond;">
                           
                            <mat-list>
                                <h3 mat-subheader>Folders</h3>
                                <mat-list-item *ngFor="let flights of flights; let i = index" (click)="trigger.openMenu()" class="list-item">
                                  <mat-icon mat-list-icon >flight_takeoff</mat-icon>
                                
                                  <h4 mat-line>Departure  : {{flights.departure_date}}  {{flights.departure_airport}}</h4>
                                  <p mat-line> Arrival  :{{flights.airport}}  {{flights.arrival_airport}} </p>
                                  <button mat-icon-button #trigger=matMenuTrigger [matMenuTriggerFor]="menu">
                                    <mat-icon>more_vert</mat-icon>
                                 </button>

                                 <mat-menu #menu="matMenu">
                                    <button (click)="approveTicket(flights.ticketId)"  mat-menu-item>Approve </button>
                                    <button  (click)="declineTicket(flights.ticketId)"  mat-menu-item>Decline</button>
                                </mat-menu>
                                </mat-list-item>
                                
                              </mat-list> 
                    
                        </div>
                        <br>
                        
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>







